// als je de complete bootstrap.scss inlaadt, moet je variabelen overschrijven voor het inladen ervan
// je vindt _variables.scss en alle andere Bootstrap Sass bestanden op onderstaand pad
//ook utilities overschrijven kan op deze plaats - vergeet niet de !default flag mee over te nemen

@import "./node_modules/bootstrap/scss/bootstrap";

body {
  position: relative;
}

.scrollspy-example {
  position: relative;
  height: 200px;
  margin-top: .5rem;
  overflow: auto;
}

.h1 {
    margin: 50px;
    color: #f1d802;
}

div {
    margin: 40px 0px;
}



.lead {
  margin: 50px;
}